<!-- header:start -->
<div id="header">
  <div id="header-wrap">
    <div id="header-left">
      <div id="control-addContacts" class="btn homeImg" title="添加联系人"></div>
    </div>
    <div id="header-right">
      <div id="control-search" class="btn">
        <label><input type="text" placeholder="搜索联系人"/></label>
      </div>
      <div id="control-message" class="btn homeImg" title="<%=account.name%>">
      </div>
      <div id="control-face" class="btn homeImg" title="<%=account.name%>">
        <img src="<%=account.photo_path%>?size=32"/>
      </div>
    </div>
  </div>
</div>
<!-- header:end -->

<!-- wrapper:start -->
<div id="wrapper">
  <div id="sidebar">
    <div id="sidebar-in">
      <div class="group">
        <h3>爱友</h3>
        <ul>
          <li class="item active" title="新增加的联系人，添加标签以后归档">
            <i class="item-icon"></i>
            <span class="">未归档爱友</span>
          </li>
          <li class="item" title="我的通讯录中的联系人">
            <i class="item-icon"></i>
            <span class="">所有爱友</span>
          </li>
        </ul>
      </div>
      <div class="sep"></div>
      <div class="group">
        <h3>爱集体</h3>
        <ul>
          <li class="item" title="新增加的联系人，添加标签以后归档">
            <i class="item-icon"></i>
            <span class="">我的集体</span>
          </li>
          <li class="item" title="我的通讯录中的联系人">
            <i class="item-icon"></i>
            <span class="">所有爱友</span>
          </li>
        </ul>
      </div>
      <div class="sep"></div>
      <div class="group">
        <h3>联系人分组</h3>
        <ul>
          <li class="item">
            <i class="item-icon"></i>
            <span class="">家人</span>
          </li>
          <li class="item">
            <i class="item-icon"></i>
            <span class="">同事</span>
          </li>
          <li class="item">
            <i class="item-icon"></i>
            <span class="">同学</span>
          </li>
        </ul>
      </div>
      <div class="sep"></div>
      <div class="group">
        <h3>备份还原</h3>
        <ul>
          <li class="item">
            <i class="item-icon"></i>
            <span class="">备份</span>
          </li>
          <li class="item">
            <i class="item-icon"></i>
            <span class="">还原</span>
          </li>
        </ul>
      </div>
      <div class="sep"></div>
      <div class="group">
        <h3>过滤</h3>
        <ul>
          <li class="item" title="我的通讯录上没有的，但是我存在他们的通讯录中">
            <i class="item-icon"></i>
            <span class="">陌生人</span>
          </li>
          <li class="item">
            <i class="item-icon"></i>
            <span class="">黑名单</span>
          </li>
        </ul>
      </div>
      <div class="sep"></div>
      <div class="group">
        <h3>设置</h3>
        <ul>
          <li class="item" id="account-edit">
            <i class="item-icon"></i>
            <span class="">个人信息</span>
          </li>
          <li class="item">
            <i class="item-icon"></i>
            <span class="">添加资料</span>
          </li>
          <li class="item" id="password-change">
            <i class="item-icon"></i>
            <span class="">修改密码</span>
          </li>
          <li class="item">
            <i class="item-icon"></i>
            <span class="">同步策略</span>
          </li>
        </ul>
      </div>
    </div>
    <!--<div id="sidebar-fix">-->

    <!--</div>-->
  </div>

  <div id="resizable-handler"></div>

  <div id="main">
    <div id="contact-men" class="tab">
      <div class="toolbar">
      </div>
      <div class="contact-panel">
        <div class="contact-box">
          <h2>dfasdfa</h2>
        </div>
        <div class="contact-box">
          <h2>dfasdfa</h2>
        </div>
        <div class="contact-box">
          <h2>dfasdfa</h2>
        </div>
        <div class="contact-box">
          <h2>dfasdfa</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 对话框：修改个人信息 -->
<div id="account-edit-dialog" title="<%=account.name%>的个人信息" style="display: none;">
  <label style="display: block;">
    邮箱：<input type="text" placeholder="邮箱" class="form-input" id="" name="base_email"
              value="<%=account.base_email || ''%>"/></label>
  <label style="display: block;">
    电话：<input type="text" placeholder="联系电话" class="form-input" id="" name="base_phone"
              value="<%=account.base_phone || ''%>"/></label>
  姓名：<input type="text" placeholder="姓" class="form-input" style="width: 125px;" name="lats_name"
            value="<%=account.last_name || ''%>"/>
  <input type="text" placeholder="名" class="form-input" style="width: 125px;" name="first_name"
         value="<%=account.first_name || ''%>"/>
</div>

<!-- 对话框：修改密码 -->
<div id="password-change-dialog" title="密码修改" style="display: none">
  <label style="display: block;">
    当前密码：<input type="password" placeholder="当前密码" class="form-input" id="" name="old_password"/></label>
  <label style="display: block;">
    新的密码：<input type="password" placeholder="输入你要修改的新密码" class="form-input" id="" name="old_password"/></label>
  <label style="display: block;">
    再次输入：<input type="password" placeholder="请再次输入新密码" class="form-input" id="" name="old_password"/></label>
</div>

<!-- 对话框：备份策略 -->

<!-- wrapper:end -->

<script src="/javascripts/jquery-1.7.2.min.js"></script>
<script src="/javascripts/jquery-ui-1.8.20.custom.min.js"></script>
<script src="/javascripts/main.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/smoothness/jquery-ui-1.8.20.custom.css">