<!-- header:start -->
<div id="header">
  <div id="header-wrap">
    <div id="header-left">
      <div id="control-register" class="btn homeImg" title="注册"></div>
      <div id="control-login" class="btn homeImg" title="登录"></div>
    </div>
    <div id="header-right">
    </div>
  </div>
</div>
<!-- header:end -->

<div id="wrapper">
  <div class="form-box" id="register-div">
    <form action="" method="post">
      <h1>注册</h1>
      <input type="text" placeholder="邮箱" class="form-input" id="email"/>
      <input type="text" placeholder="账户名" class="form-input" id="account"/>
      <input type="password" placeholder="密码" class="form-input" id="password"/>
      <input type="password" placeholder="输入多一次密码" class="form-input" />
      <input type="submit" class="submit_btn" name="" value="提交注册">
    </form>
  </div>
  <div class="form-box" id="login-div" style="display: none;">
    <form action="" method="post">
      <h1>登录</h1>
      <input type="text" placeholder="邮箱/账户名" class="form-input" id="emailoraccount"/>
      <input type="password" placeholder="密码" class="form-input" id="password"/>
      <input type="submit" class="submit_btn" name="" value="登录进来">
    </form>
  </div>
  <%
    locals.register
  %>
</div>