@charset "UTF-8";

* {
    font-family: "微软雅黑";
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, b, u, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    outline: 0;
}

.btn {
    display: block;
    float: left;
    cursor: pointer;
    width: 33px;
    height: 33px;
    margin: 6px 10px 0 10px;
}

/* home.png 图片背景 */
.homeImg {
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    background-color: transparent;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    z-index: 99999;
    display: block;
}

#header {
    float: left;
    top: 0;
    left: 0;
    z-index: 10;
    height: 46px;
    min-width: 1004px;
    width: 100%;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #323232;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #323232), color-stop(100%, #888888));
    background-image: -webkit-linear-gradient(#888888, #323232);
    background-image: -moz-linear-gradient(#888888, #323232);
    background-image: -o-linear-gradient(#888888, #323232);
    background-image: -ms-linear-gradient(#888888, #323232);
    background-image: linear-gradient(#888888, #323232);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColorstr = '#888888', endColorstr = '#FF888888');
    position: static;
}

.err-msg {
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 4px;
    background-color: #ffc;
    border: orange solid 2px;
}

#header-left {
    position: relative;
    float: left;
}

#header-right {
    position: relative;
    float: right;
}

#control-addContacts {
    background-position: 0 -585px;
}

#control-addContacts:hover {
    background-position: 0 -649px;
}

#control-register {
    background-position: -132px -585px;
}

#control-register:hover {
    background-position: -132px -649px;
}

#control-login {
    background-position: -33px -585px;
}

#control-login:hover {
    background-position: -33px -650px;
}

#control-face {
    border: 1px solid white;
    box-shadow: 0 0 2px #000;
    margin: 6px 10px 0;
    right: 0;
}

#control-message {
    background-position: -231px -585px;
}

#control-message:hover {
    background-position: -231px -649px;
}

#control-search {
    /*float: left;*/
    width: 200px;
    height: 18px;
    color: #555;
    padding: 4px 0;
    margin-top: 10px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background: white;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #08518b, 0 1px 0 #08518b, 1px 0 0 #08518b, -1px 0 0 #08518b, 0 1px 2px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #08518b, 0 1px 0 #08518b, 1px 0 0 #08518b, -1px 0 0 #08518b, 0 1px 2px rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 -1px 0 #08518b, 0 1px 0 #08518b, 1px 0 0 #08518b, -1px 0 0 #08518b, 0 1px 2px rgba(255, 255, 255, 0.4);
}

#control-search input {
    font-size: 12px;
    outline: 0;
    float: left;
    background: transparent;
    height: 18px;
    border: 0;
    padding: 0 5px;
    width: 185px;
}

#wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #EDEEEF;
    height: 100%;
    float: left;
    overflow-y: hidden;
}

#siderbar {
    width: 200px;
    float: left;
    background: #E9EEF5;
    border-right: 1px solid #C6C6C6;
    height: 100% !important;
}

#siderbar-in {
    min-height: 110px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#message {
    border: #ff0000 solid 2px;
    position: absolute;
    font-size: 16px;
    right: 20px;
    bottom: 20px;
    background: grey;
    width: 200px;
    height: 100px;
    padding: 10px;
    background: -moz-linear-gradient(top, #FEFEFE 0, #AAA 200%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FEFEFE), color-stop(200%, #AAA));
    background: -webkit-linear-gradient(top, #FEFEFE 0, #AAA 200%);
    background: -o-linear-gradient(top, #FEFEFE 0, #AAA 200%);
    background: -ms-linear-gradient(top, #FEFEFE 0, #AAA 200%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.group h3 {
    height: 22px;
    line-height: 22px;
    margin: 2px 0;
    color: #A1A8B2;
    padding-left: 10px;
}

.group .item {
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    display: block;
}

.group .item:hover {
    background-color: #DDE2E9;
}

.active {
    color: white !important;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#323232));
    background-image: -webkit-linear-gradient(top, #888888, #323232);
    background-image: -moz-linear-gradient(top, #888888, #323232);
    background-image: -o-linear-gradient(top, #888888, #323232);
    background-image: -ms-linear-gradient(top, #888888, #323232);
    background-image: linear-gradient(top, #888888, #323232);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#888888', EndColorStr = '#888888');
}

.item-icon {
    background: url(../images/sidebar_box.png) no-repeat;
    width: 18px;
    height: 18px;
    float: left;
    margin: 4px 4px 0 4px;
}

.item-icon {
    background-position: -20px 0;
}

.sep {
    border-top: 1px solid #CBCFD5;
    border-bottom: 1px solid #FDFDFE;
    margin: 2px 10px;
}

#siderbar-fix {
    left: 0;
    bottom: 0;
    background: #fff;
    height: 28px;
    border-top: 1px solid #CBCFD5;
    background-color: #E9EEF4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E9EEF4), to(#DBDFE5));
    background-image: -webkit-linear-gradient(top, #E9EEF4, #DBDFE5);
    background-image: -moz-linear-gradient(top, #E9EEF4, #DBDFE5);
    background-image: -o-linear-gradient(top, #E9EEF4, #DBDFE5);
    background-image: -ms-linear-gradient(top, #E9EEF4, #DBDFE5);
    background-image: linear-gradient(top, #E9EEF4, #DBDFE5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#e9eef4', EndColorStr = '#dbdfe5');
}

#main {
    background-color: #FFF;
    position: relative;
    height: 100%;
    right: 0;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

#resizable-handler {
    cursor: e-resize;
    position: relative;
    height: 100%;
    width: 10px;
    display: block;
    float: left;
    z-index: 999;
}

.toolbar {
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 12px;
    white-space: nowrap;
    border-bottom: 1px solid #C3C3C3;
    position: relative;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
    -o-box-shadow: 0 1px 0 white;
    box-shadow: 0 1px 0 white;
    background: #FEFEFE;
    background: -moz-linear-gradient(top, #FEFEFE 0, #F0F3F4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FEFEFE), color-stop(100%, #F0F3F4));
    background: -webkit-linear-gradient(top, #FEFEFE 0, #F0F3F4 100%);
    background: -o-linear-gradient(top, #FEFEFE 0, #F0F3F4 100%);
    background: -ms-linear-gradient(top, #FEFEFE 0, #F0F3F4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fefefe', endColorstr = '#f0f3f4', GradientType = 0);
    background: linear-gradient(top, #FEFEFE 0, #F0F3F4 100%);
}

.contact-box {
    width: 250px;
    height: 100px;
    float: left;
    margin: 6px;
    padding: 10px;
    background: -moz-linear-gradient(top, #FEFEFE 0, #aaaaaa 200%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FEFEFE), color-stop(200%, #aaaaaa));
    background: -webkit-linear-gradient(top, #FEFEFE 0, #aaaaaa 200%);
    background: -o-linear-gradient(top, #FEFEFE 0, #aaaaaa 200%);
    background: -ms-linear-gradient(top, #FEFEFE 0, #aaaaaa 200%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: solid 1px #000000;
}

.contact-box:hover {
    border: solid 3px blue;
    cursor: pointer;
    margin: 4px;
}

.contact-box-checked {
    border: 3px green solid;
    margin: 4px;
}

.form-box {
    width: 300px;
    border: 2px solid #C7D3DB;
    background: #F3F8FB;
    margin: auto;
    margin-top: 8%;
    padding: 25px 60px;
    text-align: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.input_box {
    position: relative;
    height: 60px;
    /*float: left;*/
}

.form-input {
    width: 278px;
    font-size: 14px;
    color: #456D88;
    line-height: 14px;
    padding: 10px;
    border: 1px solid #BECDD5;
    margin: 10px auto;
    /*float: left;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
}

.submit_btn {
    text-align: center;
    border: none;
    width: 204px;
    height: 42px;
    line-height: 42px;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #323232), color-stop(100%, #888888));
    background-image: -webkit-linear-gradient(#888888, #323232);
    background-image: -moz-linear-gradient(#888888, #323232);
    background-image: -o-linear-gradient(#888888, #323232);
    background-image: -ms-linear-gradient(#888888, #323232);
    background-image: linear-gradient(#888888, #323232);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColorstr = '#888888', endColorstr = '#FF888888');
}

#add-contact {
    background-position: -165px -649px;
}

#add-contact:hover {
    background-position: -165px -681px;
}

#remove-contact {
    background-position: -99px -649px;
}

#remove-contact:hover {
    background-position: -99px -681px;
}

.display-none {
    display: none;
}